<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
 <!-- // call avatar_url to get current user's avatar -->
       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">
 <!-- // use image_tag to create an img -->
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>

<% if user_has_posts_or_comments? %>

  <h2>Posts</h2>
  <% if user_has_posts? %>
    <%= render @user.posts %>
  <% else %>
    <small>
    <%= "#{@user.name} has not submitted any posts yet." %>
    </small>
  <% end %>

  <h2>Comments</h2>
  <% if user_has_comments?  %>
    <%= render @user.comments %>
  <% else %>
    <small>
    <%= "#{@user.name} has not submitted any comments yet." %>
    </small>
  <% end %>

<% else %>
  <%= "#{@user.name} has not submitted any posts or comments yet." %>
<% end %>

<h2>Favorites</h2>
<% if user_has_favorites? %>
  <% @user.favorites.each do |favorite| %>
      <%= image_tag favorite.post.user.avatar_url(36)%>
      <%= favorite.post.title %>
      <small>
        <%= pluralize(favorite.post.votes.count, 'vote')%>
        <% pluralize(favorite.post.comments.count, 'comment')%>
        <br><br>
      </small>
  <% end %>
<% else %>
  <small>
  <%= "#{@user.name} has not favorited any posts yet." %>
  </small>
<% end %>
